<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Default</key>
	<dict>
		<key>_name</key>
		<string>Default</string>
		<key>colors</key>
		<dict>
			<key>brightBlue</key>
			<string>#2db6ff</string>
		</dict>
		<key>MainWindow</key>
		<dict>
			<key>SourceList</key>
			<dict>
				<key>minimumWidth</key>
				<string>200</string>
				<key>maximumWidth</key>
				<string>350</string>
				<key>favicon</key>
				<dict>
					<key>imageWidth</key>
					<integer>16</integer>
					<key>imageHeight</key>
					<integer>16</integer>
					<key>marginRight</key>
					<integer>4</integer>
				</dict>
				<key>unreadCount</key>
				<dict>
					<key>backgroundColor</key>
					<string>000000</string>
					<key>backgroundColorAlpha</key>
					<real>0.5</real>
					<key>cornerRadius</key>
					<integer>8</integer>
					<key>color</key>
					<string>ffffff</string>
					<key>colorAlpha</key>
					<real>0.9</real>
					<key>paddingLeft</key>
					<integer>7</integer>
					<key>paddingRight</key>
					<integer>7</integer>
					<key>paddingTop</key>
					<integer>1</integer>
					<key>paddingBottom</key>
					<integer>1</integer>
					<key>marginLeft</key>
					<integer>10</integer>
					<key>marginRight</key>
					<integer>10</integer>
					<key>fontSize</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>Timeline</key>
			<dict>
				<key>minimumWidth</key>
				<string>250</string>
				<key>maximumWidth</key>
				<string>450</string>
				<key>gridColor</key>
				<string>000000</string>
				<key>gridColorAlpha</key>
				<real>0.1</real>
				<key>drawsGrid</key>
				<false/>
				<key>header</key>
				<dict>
					<key>backgroundColor</key>
					<string>#fcfcfc</string>
				</dict>
				<key>cell</key>
				<dict>
					<key>paddingLeft</key>
					<integer>18</integer>
					<key>paddingRight</key>
					<integer>18</integer>
					<key>paddingTop</key>
					<integer>8</integer>
					<key>paddingBottom</key>
					<integer>10</integer>
					<key>feedNameColor</key>
					<string>aaaaaa</string>
					<key>faviconFeedNameSpacing</key>
					<integer>2</integer>
					<key>dateColor</key>
					<string>aaaaaa</string>
					<key>dateMarginLeft</key>
					<integer>10</integer>
					<key>dateMarginBottom</key>
					<integer>1</integer>
					<key>textColor</key>
					<string>999999</string>
					<key>textOnlyColor</key>
					<string>222222</string>
					<key>titleColor</key>
					<string>222222</string>
					<key>titleMarginBottom</key>
					<integer>1</integer>
					<key>unreadCircleColor</key>
					<string>#2db6ff</string>
					<key>unreadCircleDimension</key>
					<integer>8</integer>
					<key>unreadCircleMarginRight</key>
					<integer>8</integer>
					<key>avatarHeight</key>
					<integer>48</integer>
					<key>avatarWidth</key>
					<integer>48</integer>
					<key>avatarMarginLeft</key>
					<integer>8</integer>
					<key>avatarAdjustmentTop</key>
					<integer>4</integer>
					<key>avatarCornerRadius</key>
					<integer>4</integer>
					<key>starDimension</key>
					<integer>13</integer>
					<key>titleMaximumLines</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Detail</key>
			<dict>
				<key>statusBar</key>
				<dict>
					<key>backgroundColor</key>
					<string>F0F0F0</string>
				</dict>
				<key>backgroundColor</key>
				<string>FFFFFF</string>
			</dict>
		</dict>
		<key>FeedDirectory</key>
		<dict>
			<key>sidebar</key>
			<dict>
				<key>bestWidth</key>
				<integer>285</integer>
				<key>minimumThickness</key>
				<integer>240</integer>
				<key>maximumThickness</key>
				<integer>512</integer>
			</dict>
			<key>timeline</key>
			<dict>
				<key>minimumThickness</key>
				<integer>240</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
