body {
	color: #444;
	background-color: white;
	margin: 80px auto 100px;
	padding-left: 40px;
	padding-right: 40px;
	max-width: 600px;
	font-family: -apple-system;
	font-size: 18px;
}
a {
	text-decoration: none;
}
a, a:link, a:visited {
	color: #015cdc;
}
a:hover {
	text-decoration: underline;
}
.articleDateline {
	color: rgba(0, 0, 0, 0.3);
	border-bottxom: 1px solid rgba(0, 0, 0, 0.1);
	border-txop: 1px solid rgba(0, 0, 0, 0.1);
	padding-bottom: 0px;
	padding-top: 0px;
	margin-bottom: 25px;
	font-style: italic;
}
.articleDateline a:link, #articleDateline a:visited {
	color: rgba(0, 0, 0, 0.3);
}
#articleDateline img {
	border-radius: 7px;
}
.articleDate {
	color: #2db6ff;
	text-align: right;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	padding-bottom: 8px;
	margin-bottom: 1em;
}
#articleDescription {
	line-height: 1.5em;
}
#authorAvatar {
	margin-top: 2em;
	text-align: left;
}
#authorAvatar img {
	border-radius: 5px;
}
.rightAlign {
	text-align: right;
}
.leftAlign {
	text-align: left;
}
.articleTitle {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.headerContainer {
	border-botxtom: 1px solid rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.3);
}
.header {
	color: rgba(0, 0, 0, 0.3);
}
.headerTable {
	width: 100%;
	height: 68px;
}
.avatar img {
	border-radius: 7px;
	margin-right: 8px;
}
.headerContainer a:link, .headerContainer a:visited {
	color: rgba(0, 0, 0, 0.3);
}

.feedIcon {
	border-radius: 5px;
}
h1 {
	line-height: 1.15em;
	font-weight: medium;
}
h1, h2, h3, h4, h5, h6 {
	font-family: -apple-system, "Helvetica Neue"
}
code, pre {
	font-family: "SF Mono", Menlo, "Courier New", Courier, monospace;
	font-size: 14px;
	color: #666;
}
pre  {
	white-space: pre-wrap;
}
img, video {
	max-width: 100%;
	height: auto;
}

/*Block ads and junk*/

iframe[src*="feedads"],
iframe[src*="doubleclick"],
iframe[src*="plusone.google"] {
	display: none !important;
}

a[href*=".ads."],
a[href*="feedads"],
a[href*="feedburner"],
a[href*="doubleclick"],
a[href*="//ads."],
a[href*="api.tweetmeme"],
a[href*="delicious.com/post?"],
a[href*="digg.com/submit?"],
a[href*="google.com/bookmarks/mark?"],
a[href*="posterous.com/share?"],
a[href*="tumblr.com/share?"],
a[href*="linkedin.com/shareArticle?"],
a[href*="facebook.com/share.php?"],
a[href*="http://twitter.com/home?"],
a[href*="addtoany.com/share_save"] {
	display: none !important;
}

img[src*=".ads."],
img[src*="//ads."],
img[src*="doubleclick"],
img[src*="feedads"],
img[src*="feedburner"],
img[src*="share-buttons"] {
	display: none !important;
}
