body {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	line-height: 1.6em;
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1.2em;
	color: #333;
	background-color: white;
}

a {
	text-decoration: none;
	}
#banner {
	line-height: 2em;
	padding-top: 1px;
	padding-bottom: 7px;
	background-color: #333333;
	text-align: center;
	}
#innerbanner {
	max-width: 30em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: white;
}
#content {
	padding-bottom: 2em;
	max-width: 30em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3.5em;
}
#innerbanner a:link, #innerbanner a:visited {
	color: white;
	text-decoration: none;
}
#innerbanner h1 {
	font-size: 48px;
	font-weight: normal;
}
h1 {
  margin-bottom: 15px;
}
h2 {
  color: #666;
  margin-top: 2em;
}
a:link {
  color: #437C95;
	}
a:visited {
  color: #614395;
	}
#footer {
	margin-top: 3em;
	padding-top: 32px;
	padding-bottom: 29px;
	color: #999;
	font-size: 0.9em;
	text-align: center;
	border-top: 1px solid #ddd;
	}
code, pre {
	font-family: "SF Mono", Menlo, "Courier", monospace;
	font-size: 16px;
	color: #666;
	white-space: pre-wrap;
	}
@media (max-width: 700px) {
  #innerbanner {
    text-align: center;
    }
  #content {
    max-width 600px;
  }
}

@media (max-width: 590px) {
  #banner {
    line-height: 2.25em;
  }
  #content {
    padding-left: 15px;
    padding-right: 15px;
  }
}
