<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Mac and iOS</key>
	<array>
		<dict>
			<key>name</key>
			<string>TidBITS</string>
			<key>homePageURL</key>
			<string>http://tidbits.org/</string>
			<key>url</key>
			<string>http://tidbits.org/feeds/tidbits_blurb.rss</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Michael Tsai</string>
			<key>homePageURL</key>
			<string>https://mjtsai.com/blog/</string>
			<key>url</key>
			<string>https://mjtsai.com/blog/feed/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>9to5Mac</string>
			<key>homePageURL</key>
			<string>https://9to5mac.com/</string>
			<key>url</key>
			<string>https://9to5mac.com/feed/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Macdrifter</string>
			<key>homePageURL</key>
			<string>http://www.macdrifter.com/</string>
			<key>url</key>
			<string>http://www.macdrifter.com/feeds/all.atom.xml</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Macworld</string>
			<key>homePageURL</key>
			<string>https://www.macworld.com/</string>
			<key>url</key>
			<string>https://www.macworld.com/index.rss</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Six Colors</string>
			<key>homePageURL</key>
			<string>https://www.sixcolors.com/</string>
			<key>url</key>
			<string>https://feedpress.me/sixcolors</string>
		</dict>
	</array>
	<key>Software Companies</key>
	<array>
		<dict>
			<key>name</key>
			<string>Flying Meat</string>
			<key>homePageURL</key>
			<string>http://flyingmeat.com/blog/</string>
			<key>url</key>
			<string>http://flyingmeat.com/blog/feed.json</string>
		</dict>
	</array>
	<key>Blogs</key>
	<array>
		<dict>
			<key>name</key>
			<string>Jason Kottke</string>
			<key>homePageURL</key>
			<string>https://kottke.org/</string>
			<key>url</key>
			<string>http://feeds.kottke.org/main</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Allen Pike</string>
			<key>homePageURL</key>
			<string>http://www.allenpike.com/</string>
			<key>url</key>
			<string>http://www.allenpike.com/feed/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>And now it’s all this (Dr. Drang)</string>
			<key>homePageURL</key>
			<string>http://leancrew.com/all-this/</string>
			<key>url</key>
			<string>http://leancrew.com/all-this/feed.json</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Anil Dash</string>
			<key>homePageURL</key>
			<string>http://anildash.com/</string>
			<key>url</key>
			<string>http://feeds.dashes.com/AnilDash</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ash Furrow</string>
			<key>homePageURL</key>
			<string>https://ashfurrow.com/</string>
			<key>url</key>
			<string>https://ashfurrow.com/blog?format=rss</string>
		</dict>
		<dict>
			<key>name</key>
			<string>bbum&apos;s weblog-o-mat</string>
			<key>homePageURL</key>
			<string>http://www.friday.com/bbum</string>
			<key>url</key>
			<string>http://www.friday.com/bbum/feed/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Brett Terpstra</string>
			<key>homePageURL</key>
			<string>http://brettterpstra.com/</string>
			<key>url</key>
			<string>http://brettterpstra.com/atom.xml</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Call Me Fishmeal (Wil Shipley)</string>
			<key>homePageURL</key>
			<string>http://blog.wilshipley.com/</string>
			<key>url</key>
			<string>http://blog.wilshipley.com/rss.xml</string>
		</dict>
		<dict>
			<key>name</key>
			<string>carpeaqua</string>
			<key>homePageURL</key>
			<string>https://carpeaqua.com/</string>
			<key>url</key>
			<string>https://carpeaqua.com/rss/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Codeplease</string>
			<key>homePageURL</key>
			<string>http://codeplease.io/</string>
			<key>url</key>
			<string>http://codeplease.io/rss/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Collin Donnell</string>
			<key>homePageURL</key>
			<string>http://collindonnell.com/</string>
			<key>url</key>
			<string>http://collindonnell.com/feed/json</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bitsplitting (Daniel Jalkut)</string>
			<key>homePageURL</key>
			<string>http://bitsplitting.org/</string>
			<key>url</key>
			<string>http://bitsplitting.org/feed/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>_David Smith</string>
			<key>homePageURL</key>
			<string>https://david-smith.org/</string>
			<key>url</key>
			<string>https://david-smith.org/atom.xml</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Blog Posts About Stuff</string>
			<key>homePageURL</key>
			<string>http://nothe.purplellamas.net/</string>
			<key>url</key>
			<string>http://nothe.purplellamas.net/index.xml</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Liz Marley</string>
			<key>homePageURL</key>
			<string>https://medium.com/@emarley</string>
			<key>url</key>
			<string>https://medium.com/feed/@emarley</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Demi Marshall</string>
			<key>homePageURL</key>
			<string>https://pewpewthespells.com/ramble.html</string>
			<key>url</key>
			<string>https://pewpewthespells.com/feed.xml</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Veronica Ray</string>
			<key>homePageURL</key>
			<string>https://medium.com/@nerdonica</string>
			<key>url</key>
			<string>https://medium.com/feed/@nerdonica</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tess Rinearson</string>
			<key>homePageURL</key>
			<string>https://medium.com/@tessr</string>
			<key>url</key>
			<string>https://medium.com/feed/@tessr</string>
		</dict>
		<dict>
			<key>name</key>
			<string>jessysaurusrex</string>
			<key>homePageURL</key>
			<string>https://jessysaurusrex.com</string>
			<key>url</key>
			<string>https://jessysaurusrex.com/feed/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Designated Nerd</string>
			<key>homePageURL</key>
			<string>http://designatednerd.com/blog/</string>
			<key>url</key>
			<string>http://designatednerd.com/feed/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Virginia Roberts</string>
			<key>homePageURL</key>
			<string>http://www.virginiaroberts.com/</string>
			<key>url</key>
			<string>http://www.virginiaroberts.com/feed/</string>
		</dict>
	</array>
	<key>News</key>
	<array>
		<dict>
			<key>name</key>
			<string>Talking Points Memo</string>
			<key>homePageURL</key>
			<string>https://talkingpointsmemo.com/</string>
			<key>url</key>
			<string>https://talkingpointsmemo.com/feed/all</string>
		</dict>
	</array>
	<key>TV</key>
	<array>
		<dict>
			<key>name</key>
			<string>Doctor Who</string>
			<key>homePageURL</key>
			<string>http://www.bbc.co.uk/blogs/doctorwho</string>
			<key>url</key>
			<string>http://www.bbc.co.uk/blogs/doctorwho/rss</string>
		</dict>
	</array>
	<key>Programming</key>
	<array>
		<dict>
			<key>name</key>
			<string>Swift Blog - Apple Developer</string>
			<key>homePageURL</key>
			<string>https://developer.apple.com/swift/blog/</string>
			<key>url</key>
			<string>http://developer.apple.com/swift/blog/news.rss</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NSHipster</string>
			<key>homePageURL</key>
			<string>http://nshipster.com/</string>
			<key>url</key>
			<string>http://nshipster.com/feed.xml</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ray Wenderlich</string>
			<key>homePageURL</key>
			<string>https://www.raywenderlich.com/</string>
			<key>url</key>
			<string>https://www.raywenderlich.com/feed</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Indie Stack (Daniel Jalkut)</string>
			<key>homePageURL</key>
			<string>http://indiestack.com/</string>
			<key>url</key>
			<string>http://indiestack.com/feed/json/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pointers Gone Wild</string>
			<key>homePageURL</key>
			<string>https://pointersgonewild.com/</string>
			<key>url</key>
			<string>https://pointersgonewild.com/feed/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Marcy Sutton</string>
			<key>homePageURL</key>
			<string>https://marcysutton.com/</string>
			<key>url</key>
			<string>https://marcysutton.com/feed/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hillel Wayne</string>
			<key>homePageURL</key>
			<string>https://www.hillelwayne.com/</string>
			<key>url</key>
			<string>https://www.hillelwayne.com/index.xml</string>
		</dict>
	</array>
	<key>Writers</key>
	<array>
		<dict>
			<key>name</key>
			<string>Charles Stross</string>
			<key>homePageURL</key>
			<string>http://www.antipope.org/charlie/blog-static/</string>
			<key>url</key>
			<string>http://www.antipope.org/charlie/blog-static/atom.xml</string>
		</dict>
		<dict>
			<key>name</key>
			<string>John Scalzi (Whatever)</string>
			<key>homePageURL</key>
			<string>https://whatever.scalzi.com/</string>
			<key>url</key>
			<string>https://whatever.scalzi.com/feed/</string>
		</dict>
	</array>
	<key>Seattle</key>
	<array>
		<dict>
			<key>name</key>
			<string>My Ballard</string>
			<key>homePageURL</key>
			<string>http://www.myballard.com/</string>
			<key>url</key>
			<string>http://feeds2.feedburner.com/myballard</string>
		</dict>
	</array>
	<key>Miscellaneous</key>
	<array>
		<dict>
			<key>name</key>
			<string>Pinboard (popular bookmarks)</string>
			<key>homePageURL</key>
			<string>https://pinboard.in/popular/</string>
			<key>url</key>
			<string>https://feeds.pinboard.in/rss/popular/</string>
		</dict>
	</array>
</dict>
</plist>
