/* Shared iOS and macOS CSS rules. Platform specific rules are at the bottom of this file. */

body {
	margin-left: auto;
	margin-right: auto;
	
	word-wrap: break-word;
	max-width: 44em;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.feedlink {
	font-weight: bold;
}

.headerTable {
	width: 100%;
	height: 68px;
}

.systemMessage {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translateX(-55%) translateY(-50%);
	-webkit-user-select: none;
	cursor: default;
}

:root {
	--header-table-border-color: rgba(0, 0, 0, 0.1);
	--header-color: rgba(0, 0, 0, 0.66);
	--body-code-color: #111;
	--code-background-color: #eee;
	--system-message-color: #cbcbcb;
	--feedlink-color: rgba(255, 0, 0, 0.6);
	--article-title-color: #333;
	--article-date-color: rgba(0, 0, 0, 0.5);
	--table-cell-border-color: lightgray;
	--sup-link-color: rgba(255, 255, 255, 0.9);
}

@media(prefers-color-scheme: dark) {
	:root {
		--header-color: rgba(94, 158, 244, 1);
		--body-code-color: #dcdcdc;
		--system-message-color: #5f5f5f;
		--feedlink-color: rgba(94, 158, 244, 1);
		--article-title-color: #e0e0e0;
		--article-date-color: rgba(255, 255, 255, 0.5);
		--table-cell-border-color: dimgray;
		--code-background-color: #333;
	}
}

body .headerTable {
	border-bottom: 1px solid var(--header-table-border-color);
	color: var(--header-color);
}

body .header {
	color: var(--header-color);
}

body .header a:link, .header a:visited {
	color: var(--header-color);
}

body code, body pre {
	color: var(--body-code-color);
}

body > .systemMessage {
	color: var(--system-message-color);
}

.feedlink a:link, .feedlink a:visited {
	color: var(--feedlink-color);
}

.avatar img {
	border-radius: 4px;
}

.feedIcon {
	border-radius: 4px;
}

.rightAlign {
	text-align: end;
}

.leftAlign {
	text-align: start;
}

.articleTitle a:link, .articleTitle a:visited {
	color: var(--article-title-color);
	margin-top: 26px;
}

.articleDateline {
	margin-bottom: 5px;
	font-weight: bold;
	font-variant-caps: all-small-caps;
	letter-spacing: 0.025em;
}

.articleDateline a:link, .articleDateline a:visited {
	color: var(--article-date-color);
}

.articleDatelineTitle {
	margin-bottom: 5px;
	font-weight: bold;
	font-variant-caps: all-small-caps;
}

.articleDatelineTitle a:link, .articleDatelineTitle a:visited {
	color: var(--article-title-color);
}

.externalLink {
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 0.875em;
	font-style: italic;
	color: var(--article-date-color);
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.externalLink a {
	font-family: "SF Mono", Menlo, Courier, monospace;
	font-size: 0.85em;
	font-variant-caps: normal;
	letter-spacing: 0em;
}

.articleBody {
	margin-top: 20px;
	line-height: 1.6em;
}

.articleBody a {
	padding: 0px 1px;
}

h1 {
	line-height: 1.15em;
	font-weight: bold;
	padding-bottom: 0;
	margin-bottom: 5px;
}

pre {
	max-width: 100%;
	margin: 0;
	overflow: auto;
	overflow-y: hidden;
	word-wrap: normal;
	word-break: normal;
	border-radius: 3px;
}

pre {
	line-height: 1.4286em;
}

code, pre {
	font-family: "SF Mono Regular", Menlo, Courier, monospace;
	font-size: 1em;
	-webkit-hyphens: none;
	background: var(--code-background-color);
}

code {
	padding: 1px 2px;
	border-radius: 2px;
}

pre code {
	letter-spacing: -.027em;
	font-size: 0.9375em;
}

.nnw-overflow {
	overflow-x: auto;
}

/*
 Instead of the last-child bits, border-collapse: collapse
 could have been used. However, then the inter-cell borders
 overlap the table border, which looks bad.
 */
.nnw-overflow table {
	margin-bottom: 1px;
	border-spacing: 0;
	font-size: inherit;
	border-collapse: collapse;
}

.nnw-overflow table table {
	margin-bottom: 0;
	border: none;
}

.nnw-overflow td, .nnw-overflow th {
	-webkit-hyphens: none;
	word-break: normal;
	border: 1px solid var(--table-cell-border-color);
	border-top: none;
	border-left: none;
	border-right: none;
	padding: 8px 11px;
	text-align: left;
}

.nnw-overflow tr :matches(td, th):last-child {
	border-right: none;
}

.nnw-overflow :matches(thead, tbody, tfoot):last-child > tr:last-child :matches(td, th) {
	border-bottom: none;
}

.nnw-overflow td pre {
	border: none;
	padding: 0;
}

.nnw-overflow table[border="0"] {
	border-width: 0;
}

img, figure, video, div, object {
	max-width: 100%;
	height: auto !important;
	margin: 0 auto;
}

iframe {
	max-width: 100%;
	margin: 0 auto;
}

iframe.nnw-constrained {
	max-height: 50vw;
}

figure {
	margin-bottom: 1em;
	margin-top: 1em;
}

figcaption {
	font-size: 14px;
	line-height: 1.3em;
}

sup {
	vertical-align: top;
	position: relative;
	bottom: 0.2rem;
}

sub {
	vertical-align: bottom;
	position: relative;
	top: 0.2rem;
}

hr {
	border: 1.5px solid var(--table-cell-border-color);
}

.iframeWrap {
	position: relative;
	display: block;
	padding-top: 56.25%;
}

.iframeWrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	height: 100% !important;
	width: 100% !important;
}

blockquote {
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-inline-start: 15px;
	border-inline-start: 3px solid var(--block-quote-border-color);
}

/* Feed Specific */

.feedbin--article-wrap {
	border-top: 1px solid var(--header-table-border-color);
}

/* Newsfoot theme for light mode (default) */
.newsfoot-footnote-popover {
	background: #ccc;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 3px 6px rgba(0, 0, 0, 0.25);
	color: black;
	padding: 1px;
}

.newsfoot-footnote-popover-arrow {
	background: #fafafa;
	border: 1px solid #ccc;
}

.newsfoot-footnote-popover-inner {
	background: #fafafa;
}

body a.footnote,
body a.footnote:visited,
.newsfoot-footnote-popover + a.footnote:hover {
	background: #aaa;
	color: white;
	transition: background-color 200ms ease-out;
}

a.footnote:hover,
.newsfoot-footnote-popover + a.footnote {
	background: #666;
	transition: background-color 200ms ease-out;
}

/* Newsfoot theme for dark mode */
@media screen and (prefers-color-scheme: dark) {
	.newsfoot-footnote-popover {
		background: #444;
		color: rgb(224, 224, 224);
	}

	.newsfoot-footnote-popover-arrow {
		background: #242424;
		border: 1px solid #444;
	}

	.newsfoot-footnote-popover-inner {
		background: #242424;
	}

	body a.footnote,
	body a.footnote:visited,
	.newsfoot-footnote-popover + a.footnote:hover {
		background: #aaa;
		color: white;
		transition: background-color 200ms ease-out;
	}

	a.footnote:hover,
	.newsfoot-footnote-popover + a.footnote {
		background: #666;
		transition: background-color 200ms ease-out;
	}

}

/* iOS Specific */
@supports (-webkit-touch-callout: none) {
	
	body {
		margin-top: 3px;
		margin-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;

		word-break: break-word;
		-webkit-hyphens: auto;
		-webkit-text-size-adjust: none;
	}

	:root {
		color-scheme: light dark;
		font: -apple-system-body;
		/* The font-size is replaced at runtime by the dynamic type size */
		font-size: [[font-size]]px;
		--primary-accent-color: #086AEE;
		--secondary-accent-color: #086AEE;
		--block-quote-border-color: rgba(0, 0, 0, 0.25);
		--ios-hover-color: lightgray; /* placeholder */
	}

	@media(prefers-color-scheme: dark) {
		:root {
			--primary-accent-color: #2D80F1;
			--secondary-accent-color: #5E9EF4;
			--block-quote-border-color: rgba(94, 158, 244, 0.75);
			--header-table-border-color: rgba(255, 255, 255, 0.2);
			--ios-hover-color: #444444; /* placeholder */
		}
	}

	body a, body a:visited, body a * {
		color: var(--secondary-accent-color);
	}

	.externalLink a {
		font-size: inherit;
	}

	.articleBody a:link, .articleBody a:visited {
		text-decoration: underline;
		text-decoration-color: var(--primary-accent-color);
		text-decoration-thickness: 1px;
		text-underline-offset: 2px;
		color: var(--secondary-accent-color);
	}

	.articleBody sup a:link, .articleBody sup a:visited {
		text-decoration: none;
		color: var(--sup-link-color);
	}

	body .header {
		font: -apple-system-body;
		font-size: [[font-size]]px;
	}

	body .header a:link, body .header a:visited {
		color: var(--secondary-accent-color);
	}

	.articleBody a:hover {
		background: var(--ios-hover-color);
	}

	pre {
		padding: 5px;
	}

}

/* macOS Specific */
@supports not (-webkit-touch-callout: none) {
	
	body {
		margin-top: 20px;
		margin-bottom: 64px;
		padding-left: 48px;
		padding-right: 48px;
		font-family: -apple-system;
	}

	.smallText {
		font-size: 14px;
	}

	.mediumText {
		font-size: 16px;
	}

	.largeText {
		font-size: 18px;
	}

	.xlargeText {
		font-size: 20px;
	}

	.xxlargeText {
		font-size: 22px;
	}

	:root {
		color-scheme: light dark;
		--accent-color: rgba( 8, 106, 238, 1);
		--block-quote-border-color: rgba( 0,   0,   0, 0.25);
		--hover-gradient-color-start: rgba(60, 146, 251, 1);
		--hover-gradient-color-end: rgba(67, 149, 251, 1);
	}

	@media(prefers-color-scheme: dark) {
		:root {
			--accent-color: rgba( 94, 158, 244, 1);
			--block-quote-border-color: rgba( 94, 158, 244, 0.50);
			--header-table-border-color: rgba(255, 255, 255, 0.1);
			--hover-gradient-color-start: rgba( 41, 121, 213, 1);
			--hover-gradient-color-end: rgba( 42, 120, 212, 1);
		}
	}

	body a, body a:visited, body a * {
		color: var(--accent-color);
	}

	a u {
	  text-decoration: none;
	}

	.articleBody a:link, .articleBody a:visited {
		border-bottom: 1px solid var(--accent-color);
	}
	.articleBody a:hover {
		border-radius: 2px;
		background: linear-gradient(0deg, var(--hover-gradient-color-start) 0%, var(--hover-gradient-color-end) 100%);
		border-bottom: 1px solid var(--hover-gradient-color-end);
		color: white;
		text-decoration: none;
	}
	.articleBody a:hover u {
		color: white;
	}

	pre {
		padding: 10px;
	}

}
