<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>key</key>
		<string>[tab]</string>
		<key>action</key>
		<string>navigateToTimeline:</string>
	</dict>
	<dict>
		<key>key</key>
		<string>,</string>
		<key>action</key>
		<string>collapseSelectedRows:</string>
	</dict>
	<dict>
		<key>key</key>
		<string>.</string>
		<key>action</key>
		<string>expandSelectedRows:</string>
	</dict>
	<dict>
		<key>key</key>
		<string>;</string>
		<key>action</key>
		<string>collapseAllExceptForGroupItems:</string>
	</dict>
	<dict>
		<key>key</key>
		<string>[leftarrow]</string>
		<key>action</key>
		<string>collapseAllExceptForGroupItems:</string>
		<key>commandModifier</key>
		<true/>
		<key>optionModifier</key>
		<true/>
	</dict>
	<dict>
		<key>key</key>
		<string>&apos;</string>
		<key>action</key>
		<string>expandAll:</string>
	</dict>
	<dict>
		<key>key</key>
		<string>[rightarrow]</string>
		<key>action</key>
		<string>expandAll:</string>
		<key>commandModifier</key>
		<true/>
		<key>optionModifier</key>
		<true/>
	</dict>
	<dict>
		<key>key</key>
		<string>[rightarrow]</string>
		<key>action</key>
		<string>navigateToTimeline:</string>
	</dict>
	<dict>
		<key>key</key>
		<string>[delete]</string>
		<key>action</key>
		<string>delete:</string>
	</dict>
	<dict>
		<key>key</key>
		<string>[deletefunction]</string>
		<key>action</key>
		<string>delete:</string>
	</dict>
</array>
</plist>
