<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Name</key>
		<string>Biblioteca</string>
		<key>ThemeIdentifier</key>
		<string>com.netnewswire.themes.biblioteca</string>
		<key>CreatorHomePage</key>
		<string>https://martingonzalez.net/</string>
		<key>CreatorName</key>
		<string>Martín González Gómez</string>
		<key>Version</key>
		<integer>1</integer>
	</dict>
</plist>
