#include "./NetNewsWire_iOSapp_target.xcconfig"

LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../../Frameworks
CODE_SIGN_ENTITLEMENTS = iOS/ShareExtension/NetNewsWire_iOS_ShareExtension.entitlements
INFOPLIST_FILE = iOS/IntentsExtension/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = $(ORGANIZATION_IDENTIFIER).NetNewsWire.iOS.IntentsExtension
PRODUCT_NAME = $(TARGET_NAME)
