#include "./common/NetNewsWire_codesigning_common.xcconfig"

CODE_SIGN_IDENTITY = Apple Development
DEVELOPMENT_TEAM = M8L2WTLA8W
CODE_SIGN_STYLE = Automatic

BUNDLE_LOADER = $(TEST_HOST)
COMBINE_HIDPI_IMAGES = YES
INFOPLIST_FILE = Tests/NetNewsWireTests/Info.plist
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks @loader_path/../Frameworks
PRODUCT_BUNDLE_IDENTIFIER = com.ranchero.NetNewsWireTests
PRODUCT_NAME = NetNewsWireTests
TEST_HOST = $(BUILT_PRODUCTS_DIR)/NetNewsWire.app/Contents/MacOS/NetNewsWire
