#include "./common/NetNewsWire_iOSextension_common.xcconfig"
CODE_SIGN_ENTITLEMENTS = Widget/NetNewsWire_iOS_WidgetExtension.entitlements
INFOPLIST_FILE = Widget/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = $(ORGANIZATION_IDENTIFIER).NetNewsWire.iOS$(BUNDLE_ID_SUFFIX).SpringboardWidgets

IPHONEOS_DEPLOYMENT_TARGET = 26.0
