CODE_SIGN_IDENTITY = Developer ID Application
DEVELOPMENT_TEAM = M8L2WTLA8W
CODE_SIGN_STYLE = Manual
ORGANIZATION_IDENTIFIER = com.ranchero
PROVISIONING_PROFILE_SPECIFIER = NetNewsWire
DEVELOPER_ENTITLEMENTS =

// developers can locally override the Xcode settings for code signing
// by creating a DeveloperSettings.xcconfig file locally at the appropriate path
// This allows a pristine project to have code signing set up with the appropriate
// developer ID and certificates, and for dev to be able to have local settings
// without needing to check in anything into source control
//
// As an example, make a ../../SharedXcodeSettings/DeveloperSettings.xcconfig file and
// give it the contents
//
//    CODE_SIGN_IDENTITY[sdk=macosx*] = Mac Developer
//    CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Developer
//    CODE_SIGN_IDENTITY[sdk=iphonesimulator*] = iPhone Developer
//    DEVELOPMENT_TEAM = <Your Team ID>
//    ORGANIZATION_IDENTIFIER = <Your Domain Name Reversed>
//    CODE_SIGN_STYLE = Automatic
//    DEVELOPER_ENTITLEMENTS = -dev
//    PROVISIONING_PROFILE_SPECIFIER =
//
// And you should be able to build without code signing errors and without modifying
// the NetNewsWire Xcode project.
//
// Example:  if your NetNewsWire Xcode project file is at
//     /Users/Shared/git/NetNewsWire/NetNewsWire.xcodeproj
// create your DeveloperSettings.xcconfig file at
//     /Users/Shared/git/SharedXcodeSettings/DeveloperSettings.xcconfig
//

#include? "../../SharedXcodeSettings/DeveloperSettings.xcconfig"
#include "./common/NetNewsWire_macapp_target_common.xcconfig"

INFOPLIST_FILE = Multiplatform/macOS/Info.plist
CODE_SIGN_ENTITLEMENTS = Multiplatform/macOS/macOS$(DEVELOPER_ENTITLEMENTS).entitlements
PRODUCT_BUNDLE_IDENTIFIER = $(ORGANIZATION_IDENTIFIER).NetNewsWire-Evergreen
PRODUCT_NAME = NetNewsWire

// Override NetNewsWire_project.xcconfig until we are ready to only target 10.16
MACOSX_DEPLOYMENT_TARGET = 10.16
SWIFT_SWIFT3_OBJC_INFERENCE = Off
SWIFT_VERSION = 5.3

OTHER_SWIFT_FLAGS = -DSWIFTUI $(inherited)
