#include "./common/NetNewsWire_codesigning_common.xcconfig"

CODE_SIGN_IDENTITY = Apple Development
DEVELOPMENT_TEAM = M8L2WTLA8W

BUNDLE_LOADER = $(TEST_HOST)
COMBINE_HIDPI_IMAGES = YES
INFOPLIST_FILE = Tests/NetNewsWire-iOSTests/Info.plist
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks @loader_path/../Frameworks
PRODUCT_BUNDLE_IDENTIFIER = $(ORGANIZATION_IDENTIFIER).NetNewsWire-iOSTests
PRODUCT_NAME = $(TARGET_NAME)
SUPPORTED_PLATFORMS = iphoneos iphonesimulator
