CODE_SIGN_IDENTITY[config=Release] = 3rd Party Mac Developer Application
CODE_SIGN_IDENTITY[config=Debug] = -
DEVELOPMENT_TEAM[config=Release] = M8L2WTLA8W 
CODE_SIGN_STYLE = Manual
PROVISIONING_PROFILE_SPECIFIER =

// developers can locally override the Xcode settings for code signing
// by creating a DeveloperSettings.xcconfig file locally at the appropriate path
// This allows a pristine project to have code signing set up with the appropriate
// developer ID and certificates, and for dev to be able to have local settings
// without needing to check in anything into source control
//
// As an example, make a ../../SharedXcodeSettings/DeveloperSettings.xcconfig file and
// give it the contents
//
//    CODE_SIGN_IDENTITY[sdk=macosx*] = Mac Developer
//    CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Developer
//    CODE_SIGN_IDENTITY[sdk=iphonesimulator*] = iPhone Developer
//    DEVELOPMENT_TEAM = <Your Team ID>
//    CODE_SIGN_STYLE = Automatic
//    PROVISIONING_PROFILE_SPECIFIER =
//
// And you should be able to build without code signing errors and without modifying
// the NetNewsWire Xcode project.
//
// Example:  if your NetNewsWire Xcode project file is at
//     /Users/Shared/git/NetNewsWire/NetNewsWire.xcodeproj
// create your DeveloperSettings.xcconfig file at
//     /Users/Shared/git/SharedXcodeSettings/DeveloperSettings.xcconfig
//

#include? "../../SharedXcodeSettings/DeveloperSettings.xcconfig"
#include "./common/NetNewsWire_macapp_target_common.xcconfig"

CODE_SIGN_ENTITLEMENTS = Mac/Resources/NetNewsWire.entitlements
PRODUCT_BUNDLE_IDENTIFIER = $(ORGANIZATION_IDENTIFIER).NetNewsWire.iOS
OTHER_SWIFT_FLAGS = -DMAC_APP_STORE $(inherited)
