#include "./common/NetNewsWire_codesigning_common.xcconfig"
#include "./common/NetNewsWire_macapp_target_common.xcconfig"

CODE_SIGN_ENTITLEMENTS = Mac/Resources/NetNewsWire$(DEVELOPER_ENTITLEMENTS).entitlements
PRODUCT_BUNDLE_IDENTIFIER = $(ORGANIZATION_IDENTIFIER).NetNewsWire-Evergreen$(BUNDLE_ID_SUFFIX)
