ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks @loader_path/../Frameworks
INFOPLIST_FILE = RSDatabaseTests/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = com.ranchero.RSDatabaseTests
PRODUCT_NAME = $(TARGET_NAME)
CLANG_ENABLE_OBJC_WEAK = YES
SWIFT_VERSION = 3.0











