<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>key</key>
		<string>[space]</string>
		<key>action</key>
		<string>scrollOrGoToNextUnread:</string>
	</dict>
	<dict>
		<key>key</key>
		<string>-</string>
		<key>action</key>
		<string>goToPreviousUnread:</string>
	</dict>
	<dict>
		<key>key</key>
		<string>[uparrow]</string>
		<key>shiftModifier</key>
		<true/>
		<key>action</key>
		<string>goToPreviousUnread:</string>
	</dict>
	<dict>
		<key>key</key>
		<string>+</string>
		<key>action</key>
		<string>nextUnread:</string>
	</dict>
	<dict>
		<key>key</key>
		<string>+</string>
		<key>shiftModifier</key>
		<true/>
		<key>action</key>
		<string>nextUnread:</string>
	</dict>
	<dict>
		<key>key</key>
		<string>n</string>
		<key>action</key>
		<string>nextUnread:</string>
	</dict>
	<dict>
		<key>key</key>
		<string>r</string>
		<key>action</key>
		<string>toggleRead:</string>
	</dict>
	<dict>
		<key>key</key>
		<string>k</string>
		<key>action</key>
		<string>markAllAsRead:</string>
	</dict>
	<dict>
		<key>key</key>
		<string>m</string>
		<key>action</key>
		<string>markUnreadAndGoToNextUnread:</string>
	</dict>
	<dict>
		<key>key</key>
		<string>l</string>
		<key>action</key>
		<string>markAllAsReadAndGoToNextUnread:</string>
	</dict>
	<dict>
		<key>key</key>
		<string>o</string>
		<key>action</key>
		<string>markOlderArticlesAsRead:</string>
	</dict>
	<dict>
		<key>key</key>
		<string>u</string>
		<key>action</key>
		<string>toggleRead:</string>
	</dict>
	<dict>
		<key>key</key>
		<string>b</string>
		<key>action</key>
		<string>openInBrowser:</string>
	</dict>
	<dict>
		<key>key</key>
		<string>[return]</string>
		<key>action</key>
		<string>openInBrowser:</string>
	</dict>
	<dict>
		<key>key</key>
		<string>[enter]</string>
		<key>action</key>
		<string>openInBrowser:</string>
	</dict>
	<dict>
		<key>key</key>
		<string>a</string>
		<key>action</key>
		<string>goToPreviousSubscription:</string>
	</dict>
	<dict>
		<key>key</key>
		<string>z</string>
		<key>action</key>
		<string>goToNextSubscription:</string>
	</dict>
	<dict>
		<key>key</key>
		<string>s</string>
		<key>action</key>
		<string>toggleStarred:</string>
	</dict>
</array>
</plist>
