body {
	margin-top: 20px;
	margin-bottom: 64px;
	padding-left: 64px;
	padding-right: 64px;
	font-family: -apple-system;
	font-size: 18px;
}

:root {
	--body-color: #444;
	--body-background-color: -apple-system-text-background;
	--accent-color: rgba(8, 106, 238, 1);
	--block-quote-border-color: rgba(8, 106, 238, .50);
}

@media(prefers-color-scheme: dark) {
	:root {
		--body-color: #d2d2d2;
		--body-background-color: #2d2d2d;
		--accent-color: rgba(94, 158, 244, 1);
		--block-quote-border-color: rgba(94, 158, 244, .50);
		--header-table-border-color: rgba(255, 255, 255, 0.1);
	}
}

body a, body a:visited {
	color: var(--accent-color);
}

pre {
	border: 1px solid var(--accent-color);
	padding: 10px;
}

.nnw-overflow table {
	border: 1px solid var(--accent-color);
}
