body {
	margin-top: 20px;
	margin-bottom: 64px;
	padding-left: 32px;
	padding-right: 32px;
	font-family: -apple-system;
	font-size: 18px;
}

:root {
	--body-color: #444;
	--body-background-color: -apple-system-text-background;
	--accent-color: rgba([[accent-r]], [[accent-g]], [[accent-b]], .75);
	--block-quote-border-color: rgba([[accent-r]], [[accent-g]], [[accent-b]], .50);
}

@media(prefers-color-scheme: dark) {
	:root {
		--body-color: #d2d2d2;
		--body-background-color: #2d2d2d;
		--accent-color: rgba([[accent-r]], [[accent-g]], [[accent-b]], .75);
		--block-quote-border-color: rgba([[accent-r]], [[accent-g]], [[accent-b]], .50);
		--header-table-border-color: rgba(255, 255, 255, 0.1);
	}
}

body a, body a:link, body a:visited {
	color: var(--accent-color);
}
body .header a:link, body .header a:visited {
	color: var(--accent-color);
}

pre {
	line-height: 20px;
	border: 1px solid var(--accent-color);
	padding: 10px;
}
code, pre {
	font-size: 14px;
}

.nnw-overflow table {
	border: 1px solid var(--accent-color);
}
