body {
	margin-top: 20px;
	margin-bottom: 64px;
	padding-left: 48px;
	padding-right: 48px;
	font-family: -apple-system;
}

.smallText {
	font-size: 14px;
}

.mediumText {
	font-size: 16px;
}

.largeText {
	font-size: 18px;
}

.xlargeText {
	font-size: 20px;
}

.xxlargeText {
	font-size: 22px;
}

:root {
	color-scheme: light dark;
	--accent-color: rgba(8, 106, 238, 1);
	--block-quote-border-color: rgba(8, 106, 238, .50);
}

@media(prefers-color-scheme: dark) {
	:root {
		--accent-color: rgba(94, 158, 244, 1);
		--block-quote-border-color: rgba(94, 158, 244, .50);
		--header-table-border-color: rgba(255, 255, 255, 0.1);
	}
}

body a, body a:visited {
	color: var(--accent-color);
}

pre {
	border: 1px solid var(--accent-color);
	padding: 10px;
}

.nnw-overflow table {
	border: 1px solid var(--accent-color);
}
