<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>note</key>
		<string>By Brent Simmons, NetNewsWire developer</string>
		<key>editedName</key>
		<string>Inessential</string>
		<key>homePageURL</key>
		<string>http://inessential.com/</string>
		<key>url</key>
		<string>http://inessential.com/feed.json</string>
	</dict>
	<dict>
		<key>editedName</key>
		<string>Xcoders</string>
		<key>homePageURL</key>
		<string>https://xcoders.org/</string>
		<key>url</key>
		<string>https://xcoders.org/feed.json</string>
	</dict>
	<dict>
		<key>homePageURL</key>
		<string>https://daringfireball.net/</string>
		<key>editedName</key>
		<string>Daring Fireball</string>
		<key>url</key>
		<string>https://daringfireball.net/feeds/json</string>
	</dict>
	<dict>
		<key>homePageURL</key>
		<string>https://jvns.ca/</string>
		<key>editedName</key>
		<string>Julia Evans</string>
		<key>url</key>
		<string>https://jvns.ca/atom.xml</string>
	</dict>
	<dict>
		<key>homePageURL</key>
		<string>https://kottke.org/</string>
		<key>editedName</key>
		<string>Jason Kottke</string>
		<key>url</key>
		<string>http://feeds.kottke.org/json</string>
	</dict>
	<dict>
		<key>homePageURL</key>
		<string>http://becky.coffee/</string>
		<key>note</key>
		<string>iOS developer &amp; corgi enthusiast</string>
		<key>editedName</key>
		<string>Becky Hansmeyer</string>
		<key>url</key>
		<string>http://beckyhansmeyer.com/feed/</string>
	</dict>
	<dict>
		<key>homePageURL</key>
		<string>http://shapeof.com/</string>
		<key>note</key>
		<string>By Gus Mueller, Acorn developer</string>
		<key>editedName</key>
		<string>The Shape of Everything</string>
		<key>url</key>
		<string>http://shapeof.com/feed.json</string>
	</dict>
	<dict>
		<key>homePageURL</key>
		<string>https://cate.blog</string>
		<key>note</key>
		<string>Cate Huston</string>
		<key>editedName</key>
		<string>Accidentally in Code</string>
		<key>url</key>
		<string>https://cate.blog/feed/</string>
	</dict>
	<dict>
		<key>homePageURL</key>
		<string>http://www.manton.org/</string>
		<key>editedName</key>
		<string>Manton Reece</string>
		<key>url</key>
		<string>http://www.manton.org/feed/json</string>
	</dict>
	<dict>
		<key>homePageURL</key>
		<string>http://sixcolors.com/</string>
		<key>note</key>
		<string>By Jason Snell &amp; friends</string>
		<key>editedName</key>
		<string>Six Colors</string>
		<key>url</key>
		<string>https://sixcolors.com/feed.json</string>
	</dict>
	<dict>
		<key>homePageURL</key>
		<string>http://www.loopinsight.com/</string>
		<key>note</key>
		<string>Jim Dalrymple and Dave Mark</string>
		<key>editedName</key>
		<string>Loop Insight</string>
		<key>url</key>
		<string>http://www.loopinsight.com/feed/</string>
	</dict>
	<dict>
		<key>homePageURL</key>
		<string>https://nnw.ranchero.com/</string>
		<key>editedName</key>
		<string>NetNewsWire Blog</string>
		<key>url</key>
		<string>https://nnw.ranchero.com/feed.json</string>
	</dict>
	<dict>
		<key>homePageURL</key>
		<string>http://scripting.com/</string>
		<key>editedName</key>
		<string>Scripting News</string>
		<key>note</key>
		<string>Dave Winer</string>
		<key>url</key>
		<string>http://scripting.com/rss.json</string>
	</dict>
	<dict>
		<key>homePageURL</key>
		<string>http://ericasadun.com/</string>
		<key>editedName</key>
		<string>Erica Sadun</string>
		<key>note</key>
		<string>Lots of Swift goodness.</string>
		<key>url</key>
		<string>http://ericasadun.com/feed/</string>
	</dict>
	<dict>
		<key>homePageURL</key>
		<string>http://onefoottsunami.com/</string>
		<key>editedName</key>
		<string>One Foot Tsunami</string>
		<key>note</key>
		<string>Paul Kafasis</string>
		<key>url</key>
		<string>https://onefoottsunami.com/feed/json/</string>
	</dict>
	<dict>
		<key>homePageURL</key>
		<string>https://www.omnigroup.com/blog/</string>
		<key>editedName</key>
		<string>The Omni Blog</string>
		<key>url</key>
		<string>https://www.omnigroup.com/blog/rss/</string>
	</dict>
	<dict>
		<key>homePageURL</key>
		<string>https://om.co/</string>
		<key>editedName</key>
		<string>Om Malik</string>
		<key>url</key>
		<string>https://om.co/feed</string>
	</dict>
</array>
</plist>
