body {
	margin-top: 20px;
	margin-bottom: 64px;
	margin-left: 64px;
	margin-right: 64px;
	font-family: -apple-system;
	font-size: 18px;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.feedlink {
	font-weight: bold;
}
.headerTable {
	width: 100%;
	height: 68px;
}

.systemMessage {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translateX(-55%) translateY(-50%);
}

/* Light mode */

body.light {
	color: 	#444;
	background-color: -apple-system-text-background;
}

body.light a, body.light a:link, body.light a:visited {
	color: hsla(215, 99%, 43%, 1);
}
body.light .headerTable {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
body.light .header {
	color: rgba(0, 0, 0, 0.3);
}
body.light .header a:link, body.light .header a:visited {
	color: rgba(0, 0, 0, 0.3);
}
body.light .articleDateline, body.light .articleDateLine.a:link, body.light .articleDateline a:visited {
	color: rgba(0, 0, 0, 0.3);
}

.light > .systemMessage {
	color: #cbcbcb;
}

/* Dark mode */

body.dark {
	color: #d2d2d2;
	background-color: #2d2d2d;
}
body.dark a, body.dark a:link, body.dark a:visited {
	color: #4490e2;
}
body.dark .headerTable {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

body.dark .header a:link, body.dark .header a:visited {
	color: #4490e2;
}
body.dark .header {
	color: #d2d2d2;
}
body.dark .articleDateline {
	color: #d2d2d2;
}
body.dark .articleDateline, body.dark .articleDateLine.a:link, body.dark .articleDateline a:visited {
	color: #d2d2d2;
}

.dark > .systemMessage {
	color: #5f5f5f;
}

.feedlink a:link, .feedlink a:visited {
	color: rgba(0, 0, 0, 0.6);
}
.avatar img {
	border-radius: 4px;
}
.feedIcon {
	border-radius: 4px;
}
.rightAlign {
	text-align: right;
}
.leftAlign {
	text-align: left;
}

.articleTitle {
	margin-top: 26px;
}

.articleDateline {
	margin-bottom: 25px;
	font-weight: bold;
}

.articleBody {
	line-height: 1.6em;
}
h1 {
	line-height: 1.15em;
	font-weight: bold;
}
code, pre {
	font-family: "SF Mono", Menlo, "Courier New", Courier, monospace;
	font-size: 14px;
	color: #666;
}
pre  {
	white-space: pre-wrap;
}
img, video {
	max-width: 100%;
	height: auto;
}

/*Block ads and junk*/

iframe[src*="feedads"],
iframe[src*="doubleclick"],
iframe[src*="plusone.google"] {
	display: none !important;
}

a[href*=".ads."],
a[href*="feedads"],
a[href*="feedburner"],
a[href*="doubleclick"],
a[href*="//ads."],
a[href*="api.tweetmeme"],
a[href*="delicious.com/post?"],
a[href*="digg.com/submit?"],
a[href*="google.com/bookmarks/mark?"],
a[href*="posterous.com/share?"],
a[href*="tumblr.com/share?"],
a[href*="linkedin.com/shareArticle?"],
a[href*="facebook.com/share.php?"],
a[href*="http://twitter.com/home?"],
a[href*="addtoany.com/share_save"] {
	display: none !important;
}

img[src*=".ads."],
img[src*="//ads."],
img[src*="doubleclick"],
img[src*="feedads"],
img[src*="feedburner"],
img[src*="feedblitz"],
img[src*="share-buttons"] {
	display: none !important;
}
