// High Level Settings common to both the iOS application and any extensions we bundle with it
MARKETING_VERSION = 7.0
CURRENT_PROJECT_VERSION = 7009

APP_GROUP_ID = group.$(ORGANIZATION_IDENTIFIER).NetNewsWire.iOS$(APP_GROUP_SUFFIX)

ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
SDKROOT = iphoneos;
TARGETED_DEVICE_FAMILY = 1,2
