
// High Level Settings common to both the iOS application and any extensions we bundle with it
MARKETING_VERSION = 5.0
CURRENT_PROJECT_VERSION = 23

ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
CLANG_CXX_LANGUAGE_STANDARD = "gnu++14";
COMBINE_HIDPI_IMAGES = YES
GCC_C_LANGUAGE_STANDARD = gnu11;
SDKROOT = iphoneos;
TARGETED_DEVICE_FAMILY = 1,2
