// High Level Settings common to both the Mac application and any extensions we bundle with it
MARKETING_VERSION = 6.2.1b1
CURRENT_PROJECT_VERSION = 6201

ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = AccentColor;
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
COMBINE_HIDPI_IMAGES = YES
MACOSX_DEPLOYMENT_TARGET = 13.0
SDKROOT = macosx;
