// High Level Settings common to both the Mac application and any extensions we bundle with it
MARKETING_VERSION = 6.0.3b1
CURRENT_PROJECT_VERSION = 6033

ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = NO
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = AccentColor;
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
COMBINE_HIDPI_IMAGES = YES
MACOSX_DEPLOYMENT_TARGET = 10.15
SDKROOT = macosx;
