/* Shared iOS and macOS CSS rules. Platform specific rules are at the bottom of this file. */

body {
	margin-left: auto;
	margin-right: auto;
	word-wrap: break-word;
	max-width: 44em;
}

article {
	margin-top: 12px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.footerTable {
	width: 100%;
}

.systemMessage {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translateX(-55%) translateY(-50%);
	-webkit-user-select: none;
	cursor: default;
}

:root {
	--footer-table-border-color: rgba(0, 0, 0, 0.1);
	--footer-color: rgba(0, 0, 0, 0.3);
	--body-code-color: #666;
	--system-message-color: #cbcbcb;
	--attribution-color: dimgray;
	--article-title-color: #333;
	--article-date-color: rgba(0, 0, 0, 0.3);
	--table-cell-border-color: lightgray;
	--header-footer-border-color: lightgray;
}

@media(prefers-color-scheme: dark) {
	:root {
		--footer-color: rgba(94, 158, 244, 1);
		--body-code-color: #b2b2b2;
		--system-message-color: #5f5f5f;
		--attribution-color: #b2b2b2;
		--article-title-color: #e0e0e0;
		--article-date-color: rgba(255, 255, 255, 0.5);
		--table-cell-border-color: dimgray;
		--header-footer-border-color: dimgray;
	}
}

.nnwDate {
	white-space: nowrap;
	color: var(--body-code-color);
}

.nnwTime {
	white-space: nowrap;
	font-size: 66%;
	color: var(--body-code-color);
}

.nnwDateTime {
	line-height: 1.2;
	color: var(--attribution-color);
}

body .header {
	padding: 6px;
	border: 1px solid var(--header-footer-border-color);
	border-radius: 4px;
	display: flex;
}

body .footer {
	margin-top: 22px;
	padding: 6px;
	border: 1px solid var(--header-footer-border-color);
	border-radius: 4px;
	color: var(--body-code-color);
}

body .footer a:link, .footer a:visited {
	color: var(--body-code-color);
}

body code, body pre {
	color: var(--body-code-color);
}

body > .systemMessage {
	color: var(--system-message-color);
}

.feedIcon {
	border-radius: 4px;
}

.attribution {
	line-height: 1.2;
	margin-left: 4px;
	margin-right: 4px;
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	flex: 20 1 auto;
	color: var(--attribution-color);
}

.feedLink {
	color: var(--attribution-color);
}

.byline {
	color: var(--attribution-color);
	font-size: 66%;
}

body .byline a:link, .byline a:visited {
	color: var(--attribution-color);
}

.rightAlign {
	text-align: end;
}

.leftAlign {
	text-align: start;
}

.articleTitle {
	margin-top: 16px;
	font-size: 1.2em;
	font-weight: bold;
	color: var(--article-title-color);
	text-align: center;
}

.articleTitle a:link, .articleTitle a:visited {
	color: var(--article-title-color);
}

.articleDateline {
	color: var(--article-date-color);
}

.articleDateline a:link, .articleDateline a:visited {
	color: var(--article-date-color);
}

.articleDatelineTitle a:link, .articleDatelineTitle a:visited {
	color: var(--article-title-color);
}

.externalLink {
	font-style: italic;
	width: 100%;
}

.singleLine {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

body .externalLink a:link, .externalLink a:visited {
	color: var(--article-title-color);
}

.articleBody {
	margin-top: 10px;
	line-height: 1.6em;
}

h1 {
	line-height: 1.15em;
	font-weight: bold;
	padding-bottom: 0;
	margin-bottom: 5px;
}

h3 {
	font-weight: bold;
	margin-bottom: 3px;
}

pre {
	max-width: 100%;
	margin: 0;
	overflow: auto;
	overflow-y: hidden;
	word-wrap: normal;
	word-break: normal;
}

pre {
	line-height: 1.4286em;
}

code, pre {
	font-family: "SF Mono", Menlo, "Courier New", Courier, monospace;
	font-size: 1em;
	-webkit-hyphens: none;
}

pre code {
	letter-spacing: -.027em;
	font-size: 0.9375em;
}

.nnw-overflow {
	overflow-x: auto;
}

.avatar {
	vertical-align: middle;
	border-radius: 4px;
	height: 2em;
	width: 2em;
	min-width: 2em;
}

/*
 Instead of the last-child bits, border-collapse: collapse
 could have been used. However, then the inter-cell borders
 overlap the table border, which looks bad.
 */
.nnw-overflow table {
	margin-bottom: 1px;
	border-spacing: 0;
	border: 1px solid var(--secondary-accent-color);
	font-size: inherit;
}

.nnw-overflow table table {
	margin-bottom: 0;
	border: none;
}

.nnw-overflow td, .nnw-overflow th {
	-webkit-hyphens: none;
	word-break: normal;
	border: 1px solid var(--table-cell-border-color);
	border-top: none;
	border-left: none;
	padding: 5px;
}

.nnw-overflow tr :matches(td, th):last-child {
	border-right: none;
}

.nnw-overflow :matches(thead, tbody, tfoot):last-child > tr:last-child :matches(td, th) {
	border-bottom: none;
}

.nnw-overflow td pre {
	border: none;
	padding: 0;
}

.nnw-overflow table[border="0"] {
	border-width: 0;
}

img, figure, video, div, object {
	max-width: 100%;
	height: auto !important;
	margin: 0 auto;
}

video {
	width: 100% !important;
}

iframe {
	max-width: 100%;
	margin: 0 auto;
}

iframe.nnw-constrained {
	max-height: 50vw;
}

figure {
	margin-bottom: 1em;
	margin-top: 1em;
}

figcaption {
	font-size: 14px;
	line-height: 1.3em;
}

sup {
	vertical-align: top;
	position: relative;
	bottom: 0.2rem;
}

sub {
	vertical-align: bottom;
	position: relative;
	top: 0.2rem;
}

hr {
	border: 1.5px solid var(--table-cell-border-color);
}

.iframeWrap {
	position: relative;
	display: block;
	padding-top: 56.25%;
}

.iframeWrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	height: 100% !important;
	width: 100% !important;
}

blockquote {
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-inline-start: 15px;
	border-inline-start: 3px solid var(--block-quote-border-color);
}

/* Feed Specific */

.feedbin--article-wrap {
	border-top: 1px solid var(--footer-table-border-color);
}

/* Twitter */

.twitterAvatar {
	vertical-align: middle;
	border-radius: 4px;
	height: 1.7em;
	width: 1.7em;
}

.twitterUsername {
	line-height: 1.2;
	margin-left: 4px;
	display: inline-block;
	vertical-align: middle;
}

.twitterScreenName {
	font-size: 66%;
}

.twitterTimestamp {
	font-size: 66%;
}

/* Newsfoot theme for light mode (default) */
.newsfoot-footnote-popover {
	background: #ccc;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 3px 6px rgba(0, 0, 0, 0.25);
	color: black;
	padding: 1px;
}

.newsfoot-footnote-popover-arrow {
	background: #fafafa;
	border: 1px solid #ccc;
}

.newsfoot-footnote-popover-inner {
	background: #fafafa;
}

body a.footnote,
body a.footnote:visited,
.newsfoot-footnote-popover + a.footnote:hover {
	background: #aaa;
	color: white;
	transition: background-color 200ms ease-out;
}

a.footnote:hover,
.newsfoot-footnote-popover + a.footnote {
	background: #666;
	transition: background-color 200ms ease-out;
}

/* Newsfoot theme for dark mode */
@media screen and (prefers-color-scheme: dark) {
	.newsfoot-footnote-popover {
		background: #444;
		color: rgb(224, 224, 224);
	}

	.newsfoot-footnote-popover-arrow {
		background: #242424;
		border: 1px solid #444;
	}

	.newsfoot-footnote-popover-inner {
		background: #242424;
	}

	body a.footnote,
	body a.footnote:visited,
	.newsfoot-footnote-popover + a.footnote:hover {
		background: #aaa;
		color: white;
		transition: background-color 200ms ease-out;
	}

	a.footnote:hover,
	.newsfoot-footnote-popover + a.footnote {
		background: #666;
		transition: background-color 200ms ease-out;
	}

}

/* iOS Specific */
@supports (-webkit-touch-callout: none) {
	
	body {
		padding-top: 3px;
		padding-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;
		word-break: break-word;
		-webkit-hyphens: auto;
		-webkit-text-size-adjust: none;
	}

	:root {
		color-scheme: light dark;
		font: -apple-system-body;
		/* The font-size is replaced at runtime by the dynamic type size */
		font-size: [[font-size]]px;
		--primary-accent-color: #086AEE;
		--secondary-accent-color: #086AEE;
		--block-quote-border-color: rgba(8, 106, 238, 0.50);
		--secondary-accent-color: #086AEE;
	}

	@media(prefers-color-scheme: dark) {
		:root {
			--primary-accent-color: #2D80F1;
			--secondary-accent-color: #5E9EF4;
			--block-quote-border-color: rgba(94, 158, 244, 0.50);
			--footer-table-border-color: rgba(255, 255, 255, 0.2);
		}
	}

	body a, body a:visited, body a * {
		color: var(--secondary-accent-color);
	}

	.fontSize {
		font: -apple-system-body;
		font-size: [[font-size]]px;
	}

	pre {
		border: 1px solid var(--secondary-accent-color);
		padding: 5px;
	}

	.nnw-overflow table {
		border: 1px solid var(--secondary-accent-color);
	}

}

/* macOS Specific */
@supports not (-webkit-touch-callout: none) {
	
	body {
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 48px;
		padding-right: 48px;
		font-family: -apple-system;
	}

	.smallText {
		font-size: 14px;
	}

	.mediumText {
		font-size: 16px;
	}

	.largeText {
		font-size: 18px;
	}

	.xlargeText {
		font-size: 20px;
	}

	.xxlargeText {
		font-size: 22px;
	}

	:root {
		color-scheme: light dark;
		--accent-color: rgba(8, 106, 238, 1);
		--block-quote-border-color: rgba(8, 106, 238, .50);
	}

	@media(prefers-color-scheme: dark) {
		:root {
			--accent-color: rgba(94, 158, 244, 1);
			--block-quote-border-color: rgba(94, 158, 244, .50);
		}
	}

	body a, body a:visited, body a * {
		color: var(--accent-color);
	}

	pre {
		border: 1px solid var(--accent-color);
		padding: 10px;
	}

	.nnw-overflow table {
		border: 1px solid var(--accent-color);
	}

}
