name: CI

on: [push]

jobs:
  build:

    runs-on: macOS-latest
    strategy: 
      matrix:
        run-config:
          - { scheme: 'NetNewsWire', destination: 'platform=macOS'}
          - { scheme: 'NetNewsWire-iOS', destination: 'platform=iOS Simulator,OS=13.0,name=iPhone 11' }
    
    steps:
    - name: Checkout Project
      uses: actions/checkout@v1
      with: 
        submodules: recursive

    - name: Switch to Xcode 11
      run: sudo xcode-select -s /Applications/Xcode_11.app

    - name: Show Build Version
      run: xcodebuild -version

    - name: Show Build Settings
      run: xcodebuild -showBuildSettings
      
    - name: Show Build SDK
      run: xcodebuild -showsdks
    
    - name: Show Available Destinations
      env:
        scheme: ${{ matrix.run-config['scheme'] }}    
      run: xcodebuild -scheme ${scheme} -showdestinations
    
    - name: Run Build
      env:
          ENCRYPTION_SECRET: ${{ secrets.ENCRYPTION_SECRET }}
          KEY_SECRET: ${{ secrets.KEY_SECRET }}
          SCHEME: ${{ matrix.run-config['scheme'] }}
          DESTINATION: ${{ matrix.run-config['destination'] }}

      run: buildscripts/ci-build.sh